POSTGRES_DB=easy_backup
POSTGRES_USER=easy_backup
POSTGRES_PASSWORD=change-me-strong
JWT_SECRET=change-me-super-secret
HTTP_PORT=8090
TZ=America/Sao_Paulo
URBACKUP_PUID=1000
URBACKUP_PGID=1000
URBACKUP_BASE_URL=http://host.docker.internal:55414
